.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.login {


	display: inline-block;
}

.register {
  text-align: center;
}

.head {
  float:right;
  font-size: 55%;
}

.navigation {
  font-weight: bold;
  font-size: 350%;
  background-color: red;

  padding: 2%;
}

ul#errors {
  color: red;
}
