<div class="register">
  <form action="/login" method="POST">
    <fieldset>
        <legend>Login:</legend>
        username:<input type="text" name="username"><br>
        password:<input type="text" name="password"><br>
        <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>
